src/main/webapp/WEB-INF/xsd/userRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://services.cxf.com"
	elementFormDefault="qualified" targetNamespace="http://req.dto.web.cxf.com"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- Type Definitions -->

	<xsd:complexType name="getUserRequest">
		<xsd:sequence>

			<xsd:element name="firstName" type="xsd:string"></xsd:element>
			<xsd:element name="lastName" type="xsd:string"></xsd:element>
			<xsd:element name="name" type="xsd:string"></xsd:element>

		</xsd:sequence>
	</xsd:complexType>



</xsd:schema>

